[submodule "ace-jump-mode"]
	path = _.emacs.d/ace-jump-mode
	url = https://github.com/winterTTr/ace-jump-mode
[submodule "nyan-mode"]
	path = _.emacs.d/nyan-mode
	url = https://github.com/TeMPOraL/nyan-mode/
[submodule "_.emacs.d/ropemacs"]
	path = _.emacs.d/ropemacs
	url = https://github.com/zielmicha/ropemacs-mirror
[submodule "_.emacs.d/pymacs"]
	path = _.emacs.d/pymacs
	url = https://github.com/pinard/Pymacs/
[submodule "_.emacs.d/paredit"]
	path = _.emacs.d/paredit
	url = http://mumble.net/~campbell/git/paredit.git/
[submodule "_.emacs.d/nimrod-mode"]
	path = _.emacs.d/nimrod-mode
	url = https://github.com/reactormonk/nimrod-mode
[submodule "_.emacs.d/auto-complete"]
	path = _.emacs.d/auto-complete
	url = http://cx4a.org/repo/auto-complete.git
[submodule "_.emacs.d/markdown-mode"]
	path = _.emacs.d/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "_.emacs.d/helm"]
	path = _.emacs.d/helm
	url = https://github.com/emacs-helm/helm.git
[submodule "_.emacs.d/helm-git-grep"]
	path = _.emacs.d/helm-git-grep
	url = https://github.com/yasuyk/helm-git-grep
[submodule "_.emacs.d/dart-mode"]
	path = _.emacs.d/dart-mode
	url = https://github.com/nex3/dart-mode
[submodule "_.emacs.d/yaml-mode"]
	path = _.emacs.d/yaml-mode
	url = https://github.com/yoshiki/yaml-mode
[submodule "_.emacs.d/solarized"]
	path = _.emacs.d/solarized
	url = https://github.com/bbatsov/solarized-emacs
[submodule "_.emacs.d/elpy"]
	path = _.emacs.d/elpy
	url = https://github.com/jorgenschaefer/elpy
[submodule "_.emacs.d/company-mode"]
	path = _.emacs.d/company-mode
	url = https://github.com/company-mode/company-mode
[submodule "_.emacs.d/yasnippet"]
	path = _.emacs.d/yasnippet
	url = https://github.com/capitaomorte/yasnippet
[submodule "_.emacs.d/multi-web-mode"]
	path = _.emacs.d/multi-web-mode
	url = https://github.com/fgallina/multi-web-mode
[submodule "_.emacs.d/multiple-cursors.el"]
	path = _.emacs.d/multiple-cursors.el
	url = https://github.com/magnars/multiple-cursors.el
[submodule "_.emacs.d/emacs-gradle-mode"]
	path = _.emacs.d/emacs-gradle-mode
	url = https://github.com/jacobono/emacs-gradle-mode
[submodule "_.emacs.d/s.el"]
	path = _.emacs.d/s.el
	url = https://github.com/magnars/s.el
[submodule "_.emacs.d/groovy-emacs-modes"]
	path = _.emacs.d/groovy-emacs-modes
	url = https://github.com/Groovy-Emacs-Modes/groovy-emacs-modes
